---
name: Lint

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3.6
      - uses: codespell-project/actions-codespell@v2.2
        with:
          check_hidden: false
          ignore_words_list: hass
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "requirements_dev.txt"
          activate-environment: true
      - name: Install dependencies
        run: |
          uv pip install -r requirements_dev.txt --prerelease=allow

      - name: Run Ruff Check
        run: |
          ruff check --output-format=github .

      - name: Run Ruff Format
        run: |
          ruff format .

      - name: Static typing with ty
        run: |
          uvx ty check . --ignore unresolved-import
